/* Estilos gerais */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
}

/* Estilos da tabela */
table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px 0;
}

thead {
    background-color: #34495e;
    color: #fff;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    font-weight: bold;
    text-transform: uppercase;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #ecf0f1;
    transform: scale(1.01);
    transition: all 0.3s ease;
}

/* Estilos para a imagem do colaborador */
img {
    border-radius: 50%;
    border: 2px solid #3498db;
    object-fit: cover;
}

/* Estilos para os botões de ação */
.btn-container a {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 4px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-container .btn-detalhes {
    background-color: #3498db; /* Azul */
}

.btn-container .btn-alterar {
    background-color: #f39c12; /* Laranja */
}

.btn-container .btn-deletar {
    background-color: #e74c3c; /* Vermelho */
}

.btn-container a:hover {
    opacity: 0.8;
}

.btn-adicionar-clbr, .btn-visualizar-trfa, .btn-adicionar-trfa, .btn-visualizar-clbr {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #27ae60;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-visualizar-trfa, .btn-adicionar-trfa {
    background-color: #f8713e;
}

.btn-visualizar-trfa:hover, .btn-adicionar-trfa:hover {
    background-color: #c55226
}


.btn-adicionar-clbr:hover, .btn-visualizar-clbr:hover {
    background-color: #229954;
}
