<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalhes do Colaborador</title>
    <link rel="stylesheet" th:href="@{/css/styleDetalhesColaborador.css}">
</head>
<body>
<h1>Detalhes do Colaborador</h1>
<div class="detalhes-container">
    <img th:src="${colaborador.imgUrl}" alt="${colaborador.nome}" width="200" height="200"/>
    <h2 th:text="${colaborador.nome}"></h2>
    <hr>
    <p><strong>Email:</strong> <span th:text="${colaborador.email}"></span></p>
    <p><strong>Idade:</strong> <span th:text="${colaborador.idade}"></span></p>
    <p><strong>Cargo:</strong> <span th:text="${colaborador.rank}"></span></p>
    <hr>
    <h3>Tarefas:</h3>
    <table class="tarefas-table">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Prioridade</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tarefa : ${colaborador.tarefas}">
            <td th:text="${tarefa.nome}"></td>
            <td th:text="${tarefa.dificuldade}"></td>
        </tr>
        <tr th:if="${colaborador.tarefas == null or #lists.isEmpty(colaborador.tarefas)}">
            <td colspan="2">Nenhuma tarefa atribuída a este colaborador.</td>
        </tr>
        </tbody>
    </table>
    <a class="btn-voltar" th:href="@{/colaboradores/ui/listar}">Voltar para a lista de colaboradores</a>
</div>
</body>
</html>