<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalhes do Colaborador</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div class="container">
    <h1>Detalhes do Colaborador</h1>
    <img th:src="${colaborador.imgUrl}" alt="${colaborador.nome}" />
    <h2 th:text="${colaborador.nome}"></h2>
    <p><strong>Email:</strong> <span th:text="${colaborador.email}"></span></p>
    <p><strong>Idade:</strong> <span th:text="${colaborador.idade}"></span></p>
    <p><strong>Cargo:</strong> <span th:text="${colaborador.rank}"></span></p>

    <h3>Tarefas:</h3>
    <table>
        <thead>
        <tr>
            <th>Nome</th>
            <th>Dificuldade</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tarefa : ${colaborador.tarefas}">
            <td th:text="${tarefa.nome}"></td>
            <td th:text="${tarefa.dificuldade}"></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/colaboradores/ui/listar}">Voltar para a lista de colaboradores</a>
</div>
</body>
</html>