<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Tabela de Colaboradores</title>
    <link rel="stylesheet" th:href="@{/css/styleListarColaboradores.css}">
</head>
<body>

<h1>Lista de Colaboradores</h1>
<a class="btn-adicionar-clbr" th:href="@{/colaboradores/ui/adicionar}">Adicionar Novo Colaborador</a>
<a class="btn-adicionar-trfa" href="#">Adicionar Nova Tarefa </a>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Imagem</th>
        <th>Nome</th>
        <th>Idade</th>
        <th>Email</th>
        <th>Cargo</th>
        <th>Tarefa</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="colaborador: ${colaboradores}">
        <td th:text="${colaborador.id}"></td>
        <td><img th:src="${colaborador.imgUrl}" width="100" height="100"></td>
        <td th:text="${colaborador.nome}"></td>
        <td th:text="${colaborador.idade}"></td>
        <td th:text="${colaborador.email}"></td>
        <td th:text="${colaborador.rank}"></td>
        <td>
            <span th:if="${colaborador.tarefas}"><span th:text="${colaborador.tarefas.nome}"></span>, Prioridade: <span
                    th:text="${colaborador.tarefas.prioriade}"></span></span>
            <span th:if="${colaborador.tarefas == null}">Sem Tarefas cadastradas para o colaborador</span>
        </td>

        <td class="btn-container">
            <a class="btn-detalhes" th:href="@{/colaboradores/ui/listar/{id}(id=${colaborador.id})}">Ver Detalhes</a>
            <a class="btn-alterar" th:href="@{/colaboradores/ui/alterar/{id}(id=${colaborador.id})}">Alterar</a>
            <a class="btn-deletar" th:href="@{/colaboradores/ui/deletar/{id}(id=${colaborador.id})}">Deletar</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>